#nosotros{
    padding: 100px;
    display: flex;
}
#nosotros img{
    width: 10em;
    height: 10em;
}
#quienes-somos{
    padding: 5em 5em ;
    background-color: #A8CA7E;
    border-radius: 10px;
}
#title-quienes-somos{
    padding: 0em 0em 1em 0em;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
#paragraph-quienes-somos{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

/*seccion de equipo*/
/* Estilos para la cuadrícula */
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas */
    gap: 10px; /* espacio entre contenedores */
    padding: 20px;
    justify-items: center; /* Centrado de divs */
}

/* Estilos para de contenedor de las imágenes */
.foto-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 140px; /* Reduce el ancho de cada contenedor */
    height: auto; /* Ajustable según el contenido */
    text-align: center;
}

/* Estilos para las imágenes */
.foto-container img {
    width: 140px; /* Reduce el tamaño de la imagen para ajustarse al contenedor */
    height: 140px;
    object-fit: cover;
    border-radius: 50%; /* borde imágenes para hacerlas circulares */
}

/* Estilos para los párrafos */
.foto-container p {
    font-family: "Quicksand", sans-serif; /*teto de parráfos*/
    margin-top: 8px; /*  margen superior para acercar el texto */
    font-size: 14px; /*  tamaño del texto según sea necesario */
    color: #000000; /* Color del texto */
}



#mision{
    padding: 100px;
    display: flex;
}
#idMision{
    
}
#titleMision{
    padding: 0em 0em 0em 0em;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background-color: #A8CA7E;
    border-radius: 10px;
}
#paragraphMision{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background-color: white;
    padding: 5em 5em;
    border-radius: 10px;


   
}