:root{
    --verdeNavbar : #A8CA7E;
    --verdeFondoTexto : #CBDDB5;
    --beigeFondoTexto : #F5F5DC;
    --verdeSubtituloTexto : #618434;
}

/* Estilos para el contenedor de fondo */
.background {
    position: fixed; /* Fijo para que cubra toda la pantalla */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('imagenes/imagenFondo1.jpg'); /* Cambia esto a la ruta de tu imagen */
    background-size: cover; /* Ajusta el tamaño de la imagen */
    background-position: center; /* Centra la imagen */
    filter: blur(8px); /* Aplica el desenfoque */
    z-index: -1; /* Coloca el fondo detrás del contenido */
}

/* Sección Acerca de Nosotras ---------------------------------------------------------------*/
.acercaDeNosotrasPrimary {
    display: flex;
    margin: 5em;
}
.logoContainer{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    height: fit-content;
}
.logoContainer img{
    width: 15em;
    height: 15em;
}
.nosotrasSection{
    padding: 100px 0px;
}
.quienesSomosContainer{
    padding: 0em 2em 2em 2em;
    background-color: var(--verdeNavbar);
    border-radius: 10px;
}
.quienesSomosTitle{
    padding: 1em 0em;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
.quienesSomosParagraph{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    text-align: justify;
}

/* Sección Misión & Visión-------------------------------------------------------------------------*/
.misionSection{
    padding: 100px 50px 0px 50px;
}
.visionSection{
    padding: 100px 50px 0px 0px;
}
.misionTitle,
.visionTitle{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background-color: var(--verdeNavbar);
    border-radius: 10px;
}
.misionParagraph,
.visionParagraph{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background-color: var(--verdeFondoTexto);
    padding: 2em;
    border-radius: 10px;
    text-align: justify;
}

/*seccion Equipo ------------------------------------------------------------------------*/
.acercaDeNosotrasSecundary {
    display: flex;
    margin: 0em 5em 15em 5em;
}
.equipoContainer { 
    text-align: center;
    margin: 50px auto;
    padding: 20px;
    max-width: 800px;
    background-color: var(--beigeFondoTexto);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.equipoTitle {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 1.5em;
    color: var(--verdeSubtituloTexto);
}
.equipoParagraph {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
/* cards */
.gridContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}
.fotoContainer {
    width: 300px;
    align-items: center;
    text-align: center;
    background-color: var(--verdeFondoTexto);
    border-radius: 10px;
    padding: 2em;
}
.fotoDesarrolladora{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.nombreDesarrolladora {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    padding: 1em 0em;
}
.fotoContainer p {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    text-align: justify;
}

/* Media queries -------------------------------------------------------------------------------*/
/* Tablet */
@media (min-width: 601px) and (max-width: 1024px) {
    .acercaDeNosotrasPrimary {
        display: flex;
        margin: 2em;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-around;
    }
    .logoContainer img,
    .quienesSomosContainer {
        margin-top: 50px;
    }
    .nosotrasSection{
        padding-bottom: 0px;
    }
    .quienesSomosContainer, 
    .misionSection, 
    .visionSection {
        max-width: 350px;
    }
    .visionSection {
        padding: 100px 50px 0px 50px;
    }
}
/* Telefono ----------------------------------------------------------------------------------*/
@media (max-width: 600px) {
    .acercaDeNosotrasPrimary {
        display: flex;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-around;
        margin: 3em;
    }
    .acercaDeNosotrasSecundary,
    .equipoSection {
        justify-content:space-around;
    }
    .nosotrasSection,
    .misionSection,
    .visionSection{
        margin: 0;
        padding: 0;
    }
    .quienesSomosContainer,
    .misionContainer,
    .visionContainer {
        margin-top: 30px;
        margin-bottom: 0;
    }
}