.background{
    position: fixed; /* Fijo para que cubra toda la pantalla */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./imagenes/fondo.jpg');/*Imagen de fondo*/
    background-size: cover; /*Ajusta el tamaño de la imagen*/
    background-position: center; /*Centra la imagen*/
    filter: opacity(75%); /*Desenfoca la imagen*/
    z-index: -1; /*Coloca el fondo detrás del contenido*/    
}
.primarySection{
    margin-top: 80px;
    padding: 40px 50px;
}
.primaryTitle{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    text-align: center;
    margin-bottom: 20px;
}
.primaryParagraph,
.datosTitle,
.mensajeForm{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: black;
}
.mensajeForm{
    font-size: 10px;
}
.datosTitle{
    font-size: 17px;
}
.registroSection{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    padding: 0px 50px;
}
.registroFormulario{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}
.registroSection label,
.registroSection input,
.registroSection button,
.inicioSesionParagraph{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
.registroSection label,
.inicioSesionParagraph{
    font-weight: 500;
}
.registroButton{
    background-color: #92B8CB;
    border: none;
    border-radius: 20px;
    display: block;
    margin: 20px auto;
    margin-bottom: 0;
    padding: 10px 45px;
    width: 185px;
}
*{
    margin: 0;
}