.background{
    position: fixed; /* Fijo para que cubra toda la pantalla */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../contacto/src/imagenes/fondo2.jpg');/*Imagen de fondo*/
    background-size: cover; /*Ajusta el tamaño de la imagen*/
    background-position: center; /*Centra la imagen*/
    filter: opacity(10%); /*Desenfoca la imagen*/
    z-index: -1; /*Coloca el fondo detrás del contenido*/    
}
.contactanosSection{
    margin-top: 80px;
    padding: 30px 50px;
}
.contactanosTitle{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    text-align: center;
    margin-bottom: 20px;
}
.contactanosParagraph{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    text-align: center;
}
.contactoFormularioSection{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    padding: 0px 50px;
}
.contactoFormulario {
    background-color: #DECA98;
    border-radius: 25px;
    padding: 20px;
}
.contactoFormularioSection label,
.contactoFormularioSection input, 
.contactoFormularioSection textarea,
.contactoFormularioSection button{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
.contactoFormularioSection label{
    font-weight: 500;
}
.contactoFormularioButton{
    background-color: #92B8CB;
    border: none;
    border-radius: 20px;
    display: block;
    margin: 20px auto;
    padding: 10px 45px;
    width: 180px;
}
/* Hover del botón */
.formulario .btn:hover {
    background-color: #92B8CB;
}
/* Media queries---------------------------------------------------------------------------------- */
/* Tablet -----------------------------------------------------------------------------------------*/
@media (min-width: 601px) and (max-width: 1024px) {
}
/* Mobil -------------------------------------------------------------------------------------------*/
@media (max-width: 600px){
}