/* Footer */
.footer {
    background-color: #A8CA7E;
    font-family: "Quicksand", sans-serif;
    font-size:  14px;
    color: black;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
.footer-section {
    flex: 1;
    padding: 5px;
}

.social-icons img {
    width: 27px;
    margin-right: 10px;
}

h2 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: large;

    transform: scale(0.75);
}