.footer {
    background-color: #A8CA7E;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
.footerContainer{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 20px;
}
.subtitleFooter{
    font-size: 20px;
}
.InformacionSection a,
.administradorSection a{
    color: black;
    text-decoration: none;
}
.fa-instagram,
.fa-x-twitter,
.fa-facebook{
    color: black;
}
.socialIcons{
    display: flex;
    justify-content: space-around;
}
.socialI{
    width: 25px;
    height: 25px;
}
/* Media queries */
/* Mobil */
@media (max-width: 600px){
    .subtitleFooter,
    .InformacionSection a{
        font-size: 13px;
    }
    .footerContainer{
        padding: 10px;
    }
}