h2, h4{
    font-family: "Quicksand", sans-serif;
    text-align: center;
    padding: 10px;
}
label{
    font-family: "Quicksand", sans-serif;
}

.carritoTitulo{
margin-top: 90px;
font-family: "Playfair Display", sans-serif;
text-align: center;
padding-bottom: 10px;
}
#carrito{
    text-align: center;
    font-family: "Quicksand", sans-serif;
    
}
/* Media queries---------------------------------------------------------------------------------- */
/* Tablet -----------------------------------------------------------------------------------------*/
@media (min-width: 601px) and (max-width: 1024px) {
}
/* Mobil -------------------------------------------------------------------------------------------*/
@media (max-width: 600px) {
    .carritoButton, .iniciarSesionButton{
        width: 80%;
        min-height: 50px;
        font-size: 1.2rem;
    }
    .formulario{
        padding: 10px;
    }
    #tarjetasCarrito{
        padding: 5%;
    }
}
#tarjetasCarrito{
    padding: 15px;
    align-items: center;
    justify-content: space-evenly;
    
}

.carritoButton, .iniciarSesionButton{
    background-color: #30646F;
    width: 20%;
    min-height: 40px;
    color: white;
    border: none;
    border-radius: 35px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    margin: 0 auto;
    display: block;
}

.info{
    margin-top: 90px;
font-family: "Playfair Display", sans-serif;
text-align: center;
padding-bottom: 10px;
}
.formulario{
    padding: 15px;
}
.quantity-number {
    display: inline-flex;
    border: 1px solid grey;
    padding: 4px 0px;
    align-items: center;
  }
  .quantity-number input {
    border: none;
    padding: 5px 10px;
    text-align: center;
  }
  .quantity-number button {
    background-color: grey;
    border: none;
    padding: 6px 10px;
    color: white;
    cursor: pointer;
  }
   p{
    font-family: "Quicksand", sans-serif;
    text-align: center;
    margin-top: 10px;
    line-height: 1.5;
   }