carritoTitulo{

}

productosTitulo{

}

.carritoButton{
    background-color: #30646F;
    width: 100%;
    height: 30px;
    color: white;
    border: none;
    border-radius: 35px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    text-decoration: none;
}