:root{
    --verdeNavbar : #A8CA7E;
    --blancoNavbar : #ffffff;
    --azulBotones : #92B8CB;
}
.navbar {
    background-color: var(--verdeNavbar);
}
.navbar .nav-link:hover {
    color:var(--blancoNavbar);
}
.navbar-brand {
    display: flex;
    align-items: center; /* Centrar verticalmente logo y texto */
}
.logo-navbar{
    width: 60px;
    height: 60px;
}
.navbarTitle{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: larger;
}
.searchInput,
.searchInputAdmin{
    background-color: #ffffff;
    height: 30px;
    border-radius: 70px;
    border-style: none;
    outline: none;
}
.searchInput:focus {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2); /* Sombra más intensa al enfocarse */
}
.searchInputAdmin{
    width: 400px;
}
.formControl {
    width: 250px; /* Ancho de la barra de búsqueda*/
    height: 30px;
    border-radius: 70px;
    border-style: none;
    outline: none;
    font-size: 13px;
}
.formControlAdmin{
    width: 400px;
    height: 30px;
    border-radius: 70px;
    border-style: none;
    outline: none;
    font-size: 13px;
}
button.navbar-toggler {
    border: none;
    transform: scale(1.1);
}
button.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}
.nav-item {
    margin-left: 20px; /* Espaciado entre los elementos del navbar */
    font-size: 20px;
}
.nav-item a{
    font-size: 16px;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
button.searchIcon {
    border: none;
    background: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchIcon:hover {
    transform: scale(1.1);
}
.searchI{
    color: rgb(174, 174, 174);
}
button.adminButton{
    background-color: var(--azulBotones);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: fit-content;
}
.buttonTitle{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 8px; /* Espacio entre el texto y el ícono */
}
.crearIcon, .buttonTitle{
    margin: 0;
    padding: 0;
    display: inline-block;
}

.carritoIcon{
    border-style: none;
    background: none;
    /* position: relative; */
}
.carritoI{
    color: black;
}
.carritoDiv{
    margin-right: 20px;
    margin-left: 25px;
}
.searchIcon:active {
    transform: scale(0.95);
}
/* Media queries---------------------------------------------------------------------------------- */
/* Tablet -----------------------------------------------------------------------------------------*/
@media (min-width: 601px) and (max-width: 1024px) {
    .carritoDiv{
        position: absolute;
        top: 30px;
        right: 60px;
    }  
    .searchInputAdmin{
        width: 250px;
    }
    .formControl {
        width: 250px;
    }
}
/* Mobil -------------------------------------------------------------------------------------------*/
@media (max-width: 600px){
    .navbar-brand{
        width: 10px;
    }
    .navbarTitle{
        display: none;
    }
    .formControl,
    .searchInputAdmin{
        width: 200px;
    }
    .searchInputAdmin{
        margin-left: 30px;
    }
    .carritoDiv{
        position: absolute;
        top: 30px;
        right: 30px;
    }
    .buttonTitle{
        display: none;
    }
    .buttonAdmin{
        margin-right: 10px;
    }
}